body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f5f5f5 ;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
}

nav > #left > h1{
    color: white;
    font-size: 1rem;
}
nav > #left > h1 > span{
    font-weight: 10;
}
#cont{
    display: flex;
    align-items: center;
    list-style-type: none;
}
#cont> li > a{
    text-decoration: none;
    color: white;
    padding: 0rem 1rem 2rem 1rem;
    display: block;
}
#cont > li > a >button{
    background-color: transparent;
    color: white;
    border: 2px solid rgb(233, 222, 222);
    border-radius: 5px;
    padding: 5px 1rem;
} 
#menu{
    list-style-type: none;
    padding: 0;
    background-color: white;
    position: absolute;
    top:100%;
    left: 0%;
    width: 200%;
    display: none;
}

#menu a{
    text-decoration: none;
    color: rgb(37, 35, 35);
    padding: 1rem;
    display: block;
    border-bottom: 2px solid rgb(233, 222, 222);

}
#drop{
    position: relative;
    
}

#drop:hover #menu{
        display: block;
}
#menu a:hover{
    background-color: orangered;
    color: white;
    
}
#alpha{
    text-align: center;
    color: white;
    margin-top: 7rem;
}
#alpha > h2{
    font-size: 3rem;
    margin-bottom: 0;
}
#alpha > p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
#alpha > button{
 width: 12%;
 height: 3rem;
 border-radius: 5px;
 border: none;
 color: grey;
 margin-right: 1rem;
}
#alpha > #learn{
    background-color: transparent;
    border: 2px solid rgb(200,191,191);
}
#info{
    text-align: center;
    background-color: white;
    width: 70%;
    margin: auto;
    color: grey;
    margin-top: 12rem;
    padding-top: 2rem;
    border-radius: 5px;
}
#info > h2{
  font-size: 2rem;
}

#info > p{
    font-size: 1.2rem;
    border-top: 2px solid rgb(92, 86, 86);
    width: 60%;
    margin: auto;
    padding-top: 2rem;
    border-top: 2px solid grey;
}
#info > img{
    width: 70%;
    padding-top: 2rem;
}
#icon{
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px;
}

#icon > div{
/* background-color:antiquewhite; */
width: 45%;
display: inline-block;
text-align: center;
padding-top: 2rem;
}

.fa-bolt-lightning{
    font-size: 2rem;
    background-color: #e89980;
    color: white;
    border-radius: 100%;
    padding: 1.3rem 2rem;
}
.fa-chart-area{
    font-size: 2rem;
    background-color: #7fcdb8 ;
    color: white;
    border-radius: 100%;
    padding: 1.3rem 2rem;
}
.fa-cloud{
    font-size: 2rem;
    background-color: #90b0ba;
    color: white;
    border-radius: 100%;
    padding: 1.3rem 2rem;
}
.fa-lock{
    font-size: 2rem;
    background-color: #e5cb95;
    color: white;
    border-radius: 100%;
    padding: 1.3rem 2rem;
}
#div1{
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    position: relative;
    top: 1.5px;
    left: 3px;

}
#div4{
   border-top: 2px solid #e5e5e5;
   border-left: 2px solid #e5e5e5;
}
#card{
    background-color: #e5e5e5;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#card > div{
    background-color: white;
    width: 48%;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 2rem;
}
#card > div > img{
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* Apply background color to the section */
#signup {
    background-color: #e89980;
    text-align: center;
    padding: 19px;
    margin-top: 30px;
    margin-bottom: 30px; /* Add padding for better appearance */
}

/* Center align the text within the section */
#signup h2 {
    color: #f7ded6;
    font-size: 2rem;
    
}
#signup p{
    color:#e5e5e5;
    font-size: 1rem;
}

/* Style the email input field */
#email {
    color: #eba893;
    padding: 10px; 
    /* Add padding for better appearance */
}

/* Style the sign-up button */
#signup button {
    background-color: white;
    color: #eba994;
    padding: 10px 20px; /* Add padding for better appearance */
    border: none;
    cursor: pointer;
    font-size: 16px;
    
}

/* Adjust spacing for better appearance */
#signup p {
    margin-bottom: 20px;
    
}
footer{
    background-color: #f0f0f0;
    margin-top: 1rem;
    padding: 10px;
   
}
#class{
    display: flex;
    justify-content: center;
    letter-spacing: 2rem;
    list-style-type: none;
    padding: 2rem;

}
.fa-twitter{
    font-size: 2rem;
    color:#c6c6c6;

}
.fa-facebook{
    font-size: 2rem;
    color:#c6c6c6;
}
.fa-instagram{
    font-size: 2rem;
    color:#c6c6c6;
}
.fa-github{
    font-size: 2rem;
    color:#c6c6c6;
}
.fa-dribbble{
    font-size: 2rem;
    color:#c6c6c6;
}
.fa-google-plus{
    font-size: 2rem;
    color:#c6c6c6;
}
#all{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 2rem;
    color: #999;
    
}
#all a{
    border-bottom: 2.5px dotted  #999;
    color: #999;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;

}
#all li{
    padding: 2rem;
    border-right: 1px solid #999;
    margin: 0rem;
}
#bars{
    display: none;
}

    @media(max-width:600px){
        body{
            
            background-size: 180%;
            background-position-x: center;
    
        }
        nav{
            display: none;
        }
        #bars{
            display: inline-block;
            background-color: #ffffff;
            color: #999;
            border-radius: 5px;
            padding: 5px 20px;
            margin-top: 1rem;
            margin-left: 1rem;
        }
        #alpha{
        
            width: 80%;
            margin-top: 0rem;
            margin:auto ;
        }
         #alpha > h2{
                font-size: 2rem;
             
            
        }
        #alpha >p{
            font-size: 1.1rem;
           margin-bottom: 2rem;
        }
        #alpha >button{
            width: 100%;
            margin-bottom: 1rem;
        }
        #info{
           width: 100%;
            margin-top:1rem;
            padding-top: 2rem;
        }
        #info >h2{
            font-size: 1.5rem;
        
        }
        #info >p{
            font-size: 1.11rem;
            width:90%;
            padding-left: 1rem;
            padding-right: 1rem;
           
        }
        br{
            display: none;
        }
        #icon{
            width: 100%;
           
        }
        #icon> div{
            background-color: white;
             width: 100%;
             display: block;
             border-bottom: 2px solid gray;
         }
         #card{
            width: 100%;
            margin-top: 1rem;
            display: block;
            
        }
        #card>div{
            
            width:100%;
            text-align: center;
            
        }
        #card button{
            width: 90%;
            height: 3rem;
        }
        #signup{
            margin-top: 0rem;
           
           
        }
        #signup>h3{
            font-size: 2rem;
            letter-spacing: 1px;
            
        }
        #signup>p{
            font-size: 1rem;
        }
        #signup>input{
            width: 95%;
            padding-right: 0rem;
            
        }
        #signup>button{
            width: 100%;
           margin-top: 1rem;
            font-size: 1rem;
        }
        footer{
            width: 100%;
            margin-top: 0rem;
           
           
        }
        #class{
            letter-spacing: 2rem;
            list-style-type: none;
            padding: 2rem;
            margin-top: 2rem;
        
        }
        #all{
            display: block;
            padding: 0rem;
            text-align: center;
            margin: 0rem;
            margin-bottom: 3rem;
        }
        #all a{
            border-bottom: none;
            padding-right: 0rem;
            padding-left: 0rem;
        
        }
        #all li{
            padding: 0rem;
            border-right: none;
            
    
        
    }
}
